.entryContainer {
    width: fit-content;

    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid hsl(319, 87%, 80%);
}
.description {
    display: flex;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 15px;
    white-space: pre-wrap;
}
.descriptionLabel {
    font-size: larger;
}
.descriptionText {
    margin-top: 15px;
    word-wrap: break-word;
    word-break: break-all;
}

.entryTitle {
    align-content: center;
    align-self: center;
    text-align: center;
}
.entryDate {
    margin-bottom: 30px;
    margin-left: 15px;
}
