/* This CSS is common to all pages */
:root {
    --sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
        helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
        sans-serif;
    --serif: "Source Serif Pro", Iowan Old Style, Apple Garamond,
        Palatino Linotype, Times New Roman, "Droid Serif", Times, serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --code: SFMono-Regular, Menlo, Consolas, Monaco, "Liberation Mono",
        "Courier New", monospace;
}
.serif {
    font-family: var(--serif);
}
.heading {
    font-size: xx-large;
}
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

a {
    color: black;
}

* {
    box-sizing: border-box;
}

.navitem {
    padding: 3px 10px;
}
